:root {
  /* Light theme */
  --bg:        250 40% 98%;   /* #faf3fc */
  --text:        290 50% 4%;    /* #0c0411 */
  --primary:   288 65% 51%;   /* #a532d2 */
  --secondary: 15 65% 72%;    /* #e49d86 */
  --accent:    48 60% 64%;    /* #ddc964 */
}

.dark {
  --bg:        300 60% 3%;    /* #0a030c */
  --text:        285 50% 96%;   /* #f6eefb */
  --primary:   288 63% 48%;   /* #a02dcd */
  --secondary: 18 62% 29%;    /* #79321b */
  --accent:    50 63% 37%;    /* #9b8722 */
}
